#all{
    
    
    height: 700px;
    width: 75%;
    margin: 0% auto;

}
#head{
    width: 100%;
    height: 50px;
    background-color: white;
}
.A{
    
    float: right;
    font-size: 15px;
 

}
.A ul li{
    display: inline;
    margin: 0%;
    margin-right: 30px;
    

}
.A ul li a{
    color: black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.top{
    background-color: black;
    height: 25px;
    width: 100%;
    
}
#last{
    text-color:white;
    clear: both;
    background-color: rgb(33, 29, 29);
    height: 150px;
    width: 100%;
}
